In [1]:
import os,sys

In [2]:
root_dir=(os.path.dirname(os.getcwd()))
root_dir

'/home/ankit/Email_spam_classifier'

In [3]:
input_file_path=os.path.join(root_dir,"Data","raw_data.csv")

In [4]:
import pandas as pd
pd.read_csv(input_file_path)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("/home/ankit/Email_spam_classifier/Data/independant_data.csv")

In [7]:
df.head()

,text,no_char,transformed_text
0,"Go until jurong point, crazy.. Available only ...",111,go jurong point crazi avail bugi n great world...
1,Ok lar... Joking wif u oni...,29,ok lar joke wif u oni
2,Free entry in 2 a wkly comp to win FA Cup fina...,155,free entri 2 wkli comp win fa cup final tkt 21...
3,U dun say so early hor... U c already then say...,49,u dun say earli hor u c alreadi say
4,"Nah I don't think he goes to usf, he lives aro...",61,nah think goe usf live around though

In [8]:
df.isnull().sum()

text                0
no_char             0
transformed_text    9
dtype: int64

In [9]:
df.isnull().sum()

text                0
no_char             0
transformed_text    9
dtype: int64

In [11]:
pd.read_csv("/home/ankit/Email_spam_classifier/Data/raw_data.csv").isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [12]:
independant_data=os.path.join(root_dir,"Data","independant_data.csv")

In [14]:
data=pd.read_csv(independant_data)

In [15]:
data.isnull().sum()

text                0
no_char             0
transformed_text    9
dtype: int64

In [16]:
data.head()

,text,no_char,transformed_text
0,"Go until jurong point, crazy.. Available only ...",111,go jurong point crazi avail bugi n great world...
1,Ok lar... Joking wif u oni...,29,ok lar joke wif u oni
2,Free entry in 2 a wkly comp to win FA Cup fina...,155,free entri 2 wkli comp win fa cup final tkt 21...
3,U dun say so early hor... U c already then say...,49,u dun say earli hor u c alreadi say
4,"Nah I don't think he goes to usf, he lives aro...",61,nah think goe usf live around though

In [ ]:
def transform_text(self,text : str):
        
            logging.info("transformed the text feature entries w.r.t. nlp process")
            # convert the text to lower case
            text=text.lower()
            #convert the text into tokenization means break into words.
            text=nltk.word_tokenize(text)
            # removing the special character , whereas now text is a list.
            text_list=[]
            for i in text:
                if i.isalnum():
                    text_list.append(i)
            text=text_list[:]
            text_list.clear()

            #Now removing stop words and punctuation
            for i in text:
                if i not in stopwords.words('english') and i not in string.punctuation:
                    text_list.append(i)

            # reassign the text using the text_list[:]
            text=text_list[:]
            text_list.clear()
            for i in text:
                text_list.append(ps.stem(i))

            # Now we have to join this with string to make string.

            return " ".join(text_list)

In [6]:
import os,sys 
import json
import pickle

In [10]:
with open("/home/dev/sms_spam_classifier/Data/transformed_data.pickle","rb") as file:
    df=pickle.load(file)

In [12]:
df.head()

,text,no_char,transformed_text,CountVectors,tfidf_vectors,tfidf_max_feat.1000,tfidf_max_feat.2000,tfidf_max_feat.3000
0,"Go until jurong point, crazy.. Available only ...",111,go jurong point crazi avail bugi n great world...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,Ok lar... Joking wif u oni...,29,ok lar joke wif u oni,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,Free entry in 2 a wkly comp to win FA Cup fina...,155,free entri 2 wkli comp win fa cup final tkt 21...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,U dun say so early hor... U c already then say...,49,u dun say earli hor u c alreadi say,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,"Nah I don't think he goes to usf, he lives aro...",61,nah think goe usf live around though,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [13]:
df.columns

Index(['text', 'no_char', 'transformed_text', 'CountVectors', 'tfidf_vectors',
       'tfidf_max_feat.1000', 'tfidf_max_feat.2000', 'tfidf_max_feat.3000'],
      dtype='object')

In [15]:
import pandas as pd
y=pd.read_csv("/home/dev/sms_spam_classifier/Data/dependant_data_path.csv")

In [16]:
y

      target
0          0
1          0
2          1
3          0
4          0
...      ...
5164       1
5165       0
5166       0
5167       0
5168       0

[5169 rows x 1 columns]